<h1>{{ title }}</h1>

<app-search-bar (chatGPTResponseEmitter)="onChatGPTResponse($event)"></app-search-bar>

@if (chatGPTResponse) {
  <h2>ChatGPT Data:</h2>
  <p>{{ chatGPTResponse.message.content }}</p>
}

<app-menu (menuResponseEmitter)="onMenuResponse($event)"></app-menu>

@if (menuResponse) {
  <h2>Menu:</h2>
  <p><strong>vorspeise:</strong> {{ menuResponse.vorspeisen }}</p>
  <p><strong>veganerRenner:</strong> {{ menuResponse.veganerRenner }}</p>
  <p><strong>hauptgericht:</strong> {{ menuResponse.hauptgericht }}</p>
  <p><strong>beilagen:</strong> {{ menuResponse.beilagen }}</p>
  <p><strong>salat:</strong> {{ menuResponse.salat }}</p>
  <p><strong>dessert:</strong> {{ menuResponse.dessert }}</p>
  <p><strong>buffet:</strong> {{ menuResponse.buffet }}</p>
}

<app-audio-recorder (audioResponseEmitter)="onAudioResponse($event)"></app-audio-recorder>
@if (audioResponse) {
  <h2>ChatGPT Data:</h2>
  <p>{{ audioResponse.text }}</p>
}

<router-outlet />

