@if(!chatFullscreen) {
  <app-header></app-header>
}

<button class="fullscreen-button ms-3 mt-3" (click)="changeChatFullscreen()">
  @if(chatFullscreen) {
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-fullscreen-exit" viewBox="0 0 16 16">
      <path d="M5.5 0a.5.5 0 0 1 .5.5v4A1.5 1.5 0 0 1 4.5 6h-4a.5.5 0 0 1 0-1h4a.5.5 0 0 0 .5-.5v-4a.5.5 0 0 1 .5-.5m5 0a.5.5 0 0 1 .5.5v4a.5.5 0 0 0 .5.5h4a.5.5 0 0 1 0 1h-4A1.5 1.5 0 0 1 10 4.5v-4a.5.5 0 0 1 .5-.5M0 10.5a.5.5 0 0 1 .5-.5h4A1.5 1.5 0 0 1 6 11.5v4a.5.5 0 0 1-1 0v-4a.5.5 0 0 0-.5-.5h-4a.5.5 0 0 1-.5-.5m10 1a1.5 1.5 0 0 1 1.5-1.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 0-.5.5v4a.5.5 0 0 1-1 0z"/>
    </svg>
  } @else {
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-fullscreen" viewBox="0 0 16 16">
      <path d="M1.5 1a.5.5 0 0 0-.5.5v4a.5.5 0 0 1-1 0v-4A1.5 1.5 0 0 1 1.5 0h4a.5.5 0 0 1 0 1zM10 .5a.5.5 0 0 1 .5-.5h4A1.5 1.5 0 0 1 16 1.5v4a.5.5 0 0 1-1 0v-4a.5.5 0 0 0-.5-.5h-4a.5.5 0 0 1-.5-.5M.5 10a.5.5 0 0 1 .5.5v4a.5.5 0 0 0 .5.5h4a.5.5 0 0 1 0 1h-4A1.5 1.5 0 0 1 0 14.5v-4a.5.5 0 0 1 .5-.5m15 0a.5.5 0 0 1 .5.5v4a1.5 1.5 0 0 1-1.5 1.5h-4a.5.5 0 0 1 0-1h4a.5.5 0 0 0 .5-.5v-4a.5.5 0 0 1 .5-.5"/>
    </svg>
  }
</button>

<app-chat></app-chat>

@if(!chatFullscreen) {
  <app-menu (menuResponseEmitter)="onMenuResponse($event)"></app-menu>

  @if (menuResponse) {
    <h2>Menu:</h2>
    <p><strong>vorspeise:</strong> {{ menuResponse.vorspeisen }}</p>
    <p><strong>veganerRenner:</strong> {{ menuResponse.veganerRenner }}</p>
    <p><strong>hauptgericht:</strong> {{ menuResponse.hauptgericht }}</p>
    <p><strong>beilagen:</strong> {{ menuResponse.beilagen }}</p>
    <p><strong>salat:</strong> {{ menuResponse.salat }}</p>
    <p><strong>dessert:</strong> {{ menuResponse.dessert }}</p>
    <p><strong>buffet:</strong> {{ menuResponse.buffet }}</p>
  }

  <app-alarm-clock></app-alarm-clock>

  <app-preferences></app-preferences>
}

<app-auth-popup></app-auth-popup>

<router-outlet />
