<div class="container">
  <carousel [interval]="10000" [noPause]="true" [showIndicators]="true">
    <slide>
      <img class="d-block w-100 h-100" src="" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <h3>First Slide</h3>
        <p>Description for the first slide.</p>
      </div>
    </slide>
    <slide>
      <img class="d-block w-100 h-100" src="" alt="Second slide">
      <div class="carousel-caption d-none d-md-block">
        <h3>Second Slide</h3>
        <p>Description for the second slide.</p>
      </div>
    </slide>
    <slide>
      <img class="d-block w-100 h-100" src="" alt="Third slide">
      <div class="carousel-caption d-none d-md-block">
        <h3>Third Slide</h3>
        <p>Description for the third slide.</p>
      </div>
    </slide>
  </carousel>
</div>
