<div class="d-flex flex-column justify-content-center align-items-center p-5 my-5 w-75 h-100 bg-light border rounded shadow mx-auto">
  <h1 class="mb-4">Präferenzen</h1>

  <form [formGroup]="preferencesForm" (ngSubmit)="onSubmit()" class="w-75">
    <div class="mb-5">
      <h2 class="text-secondary">Fortbewegungsmittel</h2>
      <div formGroupName="transportation" class="d-flex flex-column ms-3">
        <div class="form-check form-switch">
          <input type="checkbox" formControlName="onFoot" id="onFoot" class="form-check-input toggle-switch">
          <label for="onFoot" class="form-check-label ms-2">Zu Fuß</label>
        </div>
        <div class="form-check form-switch">
          <input type="checkbox" formControlName="byBike" id="byBike" class="form-check-input toggle-switch">
          <label for="byBike" class="form-check-label ms-2">Mit Fahrrad</label>
        </div>
        <div class="form-check form-switch">
          <input type="checkbox" formControlName="byCar" id="byCar" class="form-check-input toggle-switch">
          <label for="byCar" class="form-check-label ms-2">Mit Auto</label>
        </div>
        <div class="form-check form-switch">
          <input type="checkbox" formControlName="byPublicTransport" id="byPublicTransport" class="form-check-input toggle-switch">
          <label for="byPublicTransport" class="form-check-label ms-2">Mit öffentlichen Verkehrsmitteln</label>
        </div>
      </div>
    </div>

    <div class="mb-5">
      <h2 class="text-secondary">Zuhause</h2>
      <div formGroupName="address" class="ms-3">
        <div class="mb-3">
          <label for="street" class="form-label">Straße und Hausnummer:</label>
          <input type="text" formControlName="street" id="street" required class="form-control">
        </div>
        <div class="mb-3">
          <label for="city" class="form-label">Stadt:</label>
          <input type="text" formControlName="city" id="city" required class="form-control">
        </div>
        <div class="mb-3">
          <label for="zip" class="form-label">Postleitzahl:</label>
          <input type="number" formControlName="zip" id="zip" required class="form-control">
        </div>
        <div class="mb-3">
          <label for="country" class="form-label">Land:</label>
          <input type="text" formControlName="country" id="country" required class="form-control">
        </div>
      </div>
    </div>

    <div class="mb-5">
      <h2 class="text-secondary">Erinnerung für Kalender</h2>
      <select formControlName="reminder" id="reminder" required class="form-select ms-3">
        <option value="">Keine Erinnerung</option>
        <option value="1">1 Minute</option>
        <option value="5">5 Minuten</option>
        <option value="10">10 Minuten</option>
        <option value="15">15 Minuten</option>
        <option value="30">30 Minuten</option>
        <option value="45">45 Minuten</option>
        <option value="60">60 Minuten</option>
      </select>
    </div>

    <div class="mb-5">
      <h2 class="text-secondary">Allergene</h2>
      <div formGroupName="allergens" class="d-flex flex-column ms-3">
        <div class="form-check form-switch">
          <input type="checkbox" formControlName="Ei" id="allergenEi" class="form-check-input toggle-switch">
          <label for="allergenEi" class="form-check-label ms-2">(Ei) Ei</label>
        </div>
        <div class="form-check form-switch">
          <input type="checkbox" formControlName="En" id="allergenEn" class="form-check-input toggle-switch">
          <label for="allergenEn" class="form-check-label ms-2">(En) Erdnuss</label>
        </div>
        <div class="form-check form-switch">
          <input type="checkbox" formControlName="Fi" id="allergenFi" class="form-check-input toggle-switch">
          <label for="allergenFi" class="form-check-label ms-2">(Fi) Fisch</label>
        </div>
        <div class="form-check form-switch">
          <input type="checkbox" formControlName="GID" id="allergenGID" class="form-check-input toggle-switch">
          <label for="allergenGID" class="form-check-label ms-2">(GID) Dinkel</label>
        </div>
        <div class="form-check form-switch">
          <input type="checkbox" formControlName="GIG" id="allergenGIG" class="form-check-input toggle-switch">
          <label for="allergenGIG" class="form-check-label ms-2">(GIG) Gerste</label>
        </div>
        <div class="form-check form-switch">
          <input type="checkbox" formControlName="GIH" id="allergenGIH" class="form-check-input toggle-switch">
          <label for="allergenGIH" class="form-check-label ms-2">(GIH) Hafer</label>
        </div>
        <div class="form-check form-switch">
          <input type="checkbox" formControlName="GIKW" id="allergenGIKW" class="form-check-input toggle-switch">
          <label for="allergenGIKW" class="form-check-label ms-2">(GIKW) Khorasan-Weizen</label>
        </div>
        <div class="form-check form-switch">
          <input type="checkbox" formControlName="GIR" id="allergenGIR" class="form-check-input toggle-switch">
          <label for="allergenGIR" class="form-check-label ms-2">(GIR) Roggen</label>
        </div>
        <div class="form-check form-switch">
          <input type="checkbox" formControlName="GIW" id="allergenGIW" class="form-check-input toggle-switch">
          <label for="allergenGIW" class="form-check-label ms-2">(GIW) Weizen</label>
        </div>
        <div class="form-check form-switch">
          <input type="checkbox" formControlName="Kr" id="allergenKr" class="form-check-input toggle-switch">
          <label for="allergenKr" class="form-check-label ms-2">(Kr) Krebstiere (Krusten- und Schalentiere)</label>
        </div>
        <div class="form-check form-switch">
          <input type="checkbox" formControlName="La" id="allergenLa" class="form-check-input toggle-switch">
          <label for="allergenLa" class="form-check-label ms-2">(La) Milch und Laktose</label>
        </div>
        <div class="form-check form-switch">
          <input type="checkbox" formControlName="Lu" id="allergenLu" class="form-check-input toggle-switch">
          <label for="allergenLu" class="form-check-label ms-2">(Lu) Lupine</label>
        </div>
        <div class="form-check form-switch">
          <input type="checkbox" formControlName="NuC" id="allergenNuC" class="form-check-input toggle-switch">
          <label for="allergenNuC" class="form-check-label ms-2">(NuC) Cashewnüsse</label>
        </div>
        <div class="form-check form-switch">
          <input type="checkbox" formControlName="NuH" id="allergenNuH" class="form-check-input toggle-switch">
          <label for="allergenNuH" class="form-check-label ms-2">(NuH) Haselnüsse</label>
        </div>
        <div class="form-check form-switch">
          <input type="checkbox" formControlName="NuM" id="allergenNuM" class="form-check-input toggle-switch">
          <label for="allergenNuM" class="form-check-label ms-2">(NuM) Mandeln</label>
        </div>
      </div>
    </div>
    <div class="mb-5">
      <h2 class="text-secondary">Wecker hinzufügen</h2>
      <div formGroupName="alarm" class="ms-3">
        <div class="mb-3">
          <label for="alarmDate" class="form-label">Datum:</label>
          <input type="date" formControlName="alarmDate" id="alarmDate" required class="form-control">
        </div>
        <div class="mb-3">
          <label for="alarmTime" class="form-label">Uhrzeit:</label>
          <input type="time" formControlName="alarmTime" id="alarmTime" required class="form-control">
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-end">
      <button type="submit" class="btn">Präferenzen speichern</button>
    </div>
  </form>

  @if(preferencesForm.valid) {
    <div class="w-75 mt-5">
      <h3 class="text-secondary">Übermittelte Daten:</h3>
      <pre class="bg-light p-3 border rounded">{{ preferencesJson }}</pre>
    </div>
  }
</div>
