<div class="d-flex flex-column align-items-center p-5 border-left border-right border-bottom border-black w-100">
  <div>
    @if (chatGPTResponse) {
      <p>{{ chatGPTResponse.message.content }}</p>
    }
  </div>

  <div>
    @if (audioResponse) {
      <p>{{ audioResponse.text }}</p>
    }
  </div>

  <div class="d-flex justify-content-center input-group">
    <app-audio-recorder (audioResponseEmitter)="onAudioResponse($event)"></app-audio-recorder>
    <app-search-bar (chatGPTResponseEmitter)="onChatGPTResponse($event)"></app-search-bar>
  </div>

</div>
